<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <link rel="stylesheet" type="text/css" href="Content/style.css" /> 


<main class="ontainer">
<div class="jumbotron" style="text-align: center; margin: auto;">

    <h1>Welcome to <%= title %> Page</h1>
    <p>Know more about me</p>
    <p>You can view my <a href="public/Shermar Pinder CV - Centennial College Cameraman - August 28th-final.pdf">portfolio here</a></p>
    </div>

    <div class="container">
    <div class="image">
        <img src="img/profile.jpg" class="img">
    </div>
    <div class="text">My name is Shermar Pinder. I'm from Barbados, currently an international student at Centennial College.
        I aim to use this opportunity to new heights impossible to me before.
    </div>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   