<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
    <link rel="stylesheet" type="text/css" href="../../public/Content/style.css" /> 
    <script src="/public/Content/script.js"></script>

<main class="ontainer">
<div class="jumbotron" style=" text-align: center; margin: auto;">
    <!--added and customized body items-->
    <h1>Welcome to <%= title %> Page</h1>
<div class="container">
    <p>First Name:</p> 
    <input type="text" placeholder="Enter your First name" id="firstName" />
    <p>Last Name:</p>
    <input  type="text" placeholder="Enter your last name" id="lastName" />
    <p>Email:</p>
    <input type="email" placeholder="Enter your email" id="email" />
    <br>
    <span>Anything you want to say?</span>
    <br>
    <textarea id="thoughts" rows="4"></textarea>
    <br>
    <button onclick="submit();"><a href="/">Send contact</a></button><!--redirect user upon click-->
    <br><br>
</div>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   