<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<link rel="stylesheet" href="/public/Content/style.css"/>
    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron" style="max-width: 300px; text-align: center; margin: auto;">
    <!--added and customized body items-->
    <h1>Welcome to <%= title %></h1>
    <p>This here is my <a href="/projects">portfolio</a>. You can learn more about me <a href="about">here</a>.</p>
    <p></p>
    <p>I look forward to working with you. I aim to surpass your expectations!!</p>
    
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   