<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>

    <link rel="stylesheet" type="text/css" href="../../public/Content/style.css" /> 

    <h1>Here you can see some of my previous projects:</h1>

    <div class="container">
        <div class="image">
            <img src="/public/img/bigbites.png">
        </div>
        <div class="text">This was a website I helped to make in a HTML class as a part of a group project. I assisted in 
            the construction of the home page. Big bites is an official resturant whose permission we had received to use
            their iconography beforehand. The website was well regarded within the class.
        </div>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="/public/img/game.png">
        </div>
        <div class="text">This was a game I helped to make in a Python class as a part of a group project. I assisted in 
            the construction of the aesthetics and some of the coding. Like the previous exapmle this was well also regarded within
            it's class.
        </div>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="/public/img/artour.png">
        </div>
        <div class="text">This was an AR tour I made as part of an extracirricular project. While ultimately it never went anywhere,
            that was due to the inability to gather proper 3D photos to use. The template itself works rather well.
        </div>
        </div>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   