<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron" >
    <!--updated body and composition-->
    <h1 style=" text-align: center; margin: auto;">Welcome to <%= title %> Page</h1>
    <br>
    <p class="container">I aim to provide a variety of services. From coding to visuals, I have a liteney of skills to aid your business.
        I've used C++, HTML, Pyhton, and Javascript. I'm capable of web and app development on the front-end. My artistic
        and editing skills make me especially suited towards fixing up a good design.
    </p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   